@import "variables";

.container_header{
    width: 100%;
    height: 650px;
    background-image:url(../image/por5.jpg);
    background-size: 100% 100%;

    background-attachment: fixed;
    position: relative;
    .container_header_blockTop{
        width: 100%;
        padding: 5px 0px;
        background:transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .header_blockTop_logo{
            //background: brown;
            margin-left: 80px;
            .blockTop_text{
                color: white;
                font-size: 40px;
                text-transform: uppercase;
            }
        }
        .header_blockTop_navbar{
            width: 500px;
            padding: 5px 0px;
            //background: brown;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            .navbar_li{
                padding: 3px;
                //background: rgb(218, 100, 100);
                .navbar_link{
                    color: white;
                }
                .navbar_link:hover{
                  color: rgb(236, 85, 85);
                }
            }
        }
        .header_blockTop_iconGlass{
            //background:brown;
            margin-right: 80px;
            display: none;
            .iconGlass{
                color: rgb(236, 79, 79);
                font-size: 25px;
                cursor: pointer;
            }
        }
    }

    .container_header_line{
        width:87%;
        height: 2px;
        margin: auto;
        background: rgb(247,59,59);
        background: linear-gradient(90deg, rgba(247,59,59,1) 0%, rgba(25,34,41,1) 55%);
        border: none;
    }

    .container_header_title{
        width: 500px;
        color: white;
        font-size: 130px;
        line-height: 120px;
        text-transform: uppercase;
        //background: gray;
        position: absolute;
        left: 100px;
        top: 200px;
        letter-spacing:5px;
    }

    .container_header_numbers{
        width: auto;
        padding: 10px 0px;
        position: fixed;
        right:0px;
        top: 160px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        z-index: 20;
        .container_header_contNumbers{
            padding: 5px 8px;
            cursor: pointer;
            ////////////////////////
            .header_numbers_date_one{
                color:$color-text-title;
                font-size: 30px;
                transition: 0.1s ease-in all;
            }
            .header_numbers_date_one:hover{
                transform: scale(1.5,1.5);
                color: white;
            }        

            /////////////////////////
            .header_numbers_date_two{
                color:$color-text-title;
                font-size: 30px;
                transition: 0.1s ease-in all;

            }
            .header_numbers_date_two:hover{
                transform: scale(1.5,1.5);
                color: white;
            }        

            /////////////////////////
            .header_numbers_date_tree{
                color:$color-text-title;
                font-size: 30px;
                transition: 0.1s ease-in all;
            }
            .header_numbers_date_tree:hover{
                transform: scale(1.5,1.5);
                color: white;
            }   
            
            /////////////////////////
            .header_numbers_date_four{
                color:$color-text-title;
                font-size: 30px;
                transition: 0.1s ease-in all;
            }
            .header_numbers_date_four:hover{
                transform: scale(1.5,1.5);
                color: white;
            }   
            
            /////////////////////////
            .header_numbers_date_five{
                color:$color-text-title;
                font-size: 30px;
                transition: 0.1s ease-in all;
            }
            .header_numbers_date_five:hover{
                transform: scale(1.5,1.5);
                color: white;
            }   
        }
        .container_header_contLines{
            width: auto;
            height: 240px;
            padding: 10px 0px;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            align-items: center;
            .contLines_line{
                width: 30px;
                height: 2.5px;
                background: white;
            }
        }
    }

    .container_header_sections{
        position: absolute;
        bottom: 50px;
        left: 90px;
        width: 87%;
        padding: 5px 0px;
        //background: rgba(165, 42, 42, 0.288);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
        .header_sections_article{
            //background: red;
            .header_sections_article_parraf{
                color: white;
                line-height: 19px;
                font-weight: 100;
                font-style: normal;

            }
            .header_sections_article_vinculo{
                margin-top: 10px;
                width: 100px;
                color: white;
                font-size: 18px;
                font-weight: 100;
                cursor: pointer;
                .header_iconArrow{
                    color: rgb(239, 102, 102);
                    margin-left: 10px;
                }
            }
          
        }
    }

    .container_header_divGradients{
        width: 100%;
        height:300px;
        position: absolute;
        bottom: 0;
        background:linear-gradient(transparent, $color-base);
    }

    .arrowBottom{
        //background: grey;
        position: absolute;
        bottom: 200px;
        left: 50%;
        .arrowBottomIcon{
            color: $color-text-title;
            font-size: 40px;
            animation-name: arrowBottom;
            animation-duration: 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        @keyframes arrowBottom {
            from{
              transform: translateY(0px);
            }to{
              transform: translateY(10px);
            }
        }
    }
}





@media (min-width:1000px) and (max-width:1200px){
    .container_header{
        width: 100%;
        padding: 10px 0px;
        height: 130vh;
        background-image:url(../image/por5.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        position: relative;
        .container_header_blockTop{
            width: 100%;
            padding: 5px 0px;
            background:transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .header_blockTop_logo{
                //background: brown;
                margin-left: 80px;
                .blockTop_text{
                    color: white;
                    font-size: 40px;
                    text-transform: uppercase;
                }
            }
            .header_blockTop_navbar{
                width: 500px;
                padding: 5px 0px;
                //background: brown;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                .navbar_li{
                    padding: 3px;
                    //background: rgb(218, 100, 100);
                    .navbar_link{
                        color: white;
                    }
                    .navbar_link:hover{
                      color: rgb(236, 85, 85);
                    }
                }
            }
            .header_blockTop_iconGlass{
                //background:brown;
                margin-right: 80px;
                .iconGlass{
                    color: rgb(236, 79, 79);
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    
        .container_header_line{
            width:87%;
            height: 2px;
            margin: auto;
            background: rgb(247,59,59);
            background: linear-gradient(90deg, rgba(247,59,59,1) 0%, rgba(25,34,41,1) 55%);
            border: none;
        }
    
        .container_header_title{
            width: 500px;
            color: white;
            font-size: 130px;
            line-height: 120px;
            text-transform: uppercase;
            //background: gray;
            position: absolute;
            left: 100px;
            top: 200px;
            letter-spacing:5px;
        }
    
        .container_header_numbers{
            width: auto;
            padding: 10px 0px;
            position: fixed;
            right:0px;
            top: 160px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            z-index: 20;
            .container_header_contNumbers{
                padding: 5px 8px;
                cursor: pointer;
                ////////////////////////
                .header_numbers_date_one{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_one:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_two{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
    
                }
                .header_numbers_date_two:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_tree{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_tree:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_four{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_four:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_five{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_five:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }   
            }
            .container_header_contLines{
                width: auto;
                height: 240px;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                align-items: center;
                .contLines_line{
                    width: 30px;
                    height: 2.5px;
                    background: white;
                }
            }
        }
    
        .container_header_sections{
            position: absolute;
            bottom: 50px;
            left: 90px;
            width: 80%;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            z-index: 10;
            .header_sections_article{
                margin: 0px 10px;
                .header_sections_article_parraf{
                    color: white;
                    line-height: 19px;
                    font-weight: 100;
                    font-style: normal;
    
                }
                .header_sections_article_vinculo{
                    margin-top: 10px;
                    width: 100px;
                    color: white;
                    font-size: 18px;
                    font-weight: 100;
                    cursor: pointer;
                    .header_iconArrow{
                        color: rgb(239, 102, 102);
                        margin-left: 10px;
                    }
                }
              
            }
        }
    
        .container_header_divGradients{
            width: 100%;
            height:300px;
            position: absolute;
            bottom: 0;
            background:linear-gradient(transparent, $color-base);
        }
    
        .arrowBottom{
            //background: grey;
            position: absolute;
            bottom: 200px;
            left: 50%;
            .arrowBottomIcon{
                color: $color-text-title;
                font-size: 40px;
                animation-name: arrowBottom;
                animation-duration: 0.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
            @keyframes arrowBottom {
                from{
                  transform: translateY(0px);
                }to{
                  transform: translateY(10px);
                }
            }
        }
    }
    
} 





@media (min-width:770px) and (max-width:999px){
    .container_header{
        width: 100%;
        padding: 10px 0px;
        height: 130vh;
        background-image:url(../image/por5.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        position: relative;
        .container_header_blockTop{
            display: none;
            .header_blockTop_logo{
                //background: brown;
                margin-left: 80px;
                .blockTop_text{
                    color: white;
                    font-size: 40px;
                    text-transform: uppercase;
                }
            }
            .header_blockTop_navbar{
                width: 500px;
                padding: 5px 0px;
                //background: brown;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                .navbar_li{
                    padding: 3px;
                    //background: rgb(218, 100, 100);
                    .navbar_link{
                        color: white;
                    }
                    .navbar_link:hover{
                      color: rgb(236, 85, 85);
                    }
                }
            }
            .header_blockTop_iconGlass{
                //background:brown;
                margin-right: 80px;
                .iconGlass{
                    color: rgb(236, 79, 79);
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    
        .container_header_line{
            width:87%;
            height: 2px;
            margin: auto;
            background: rgb(247,59,59);
            background: linear-gradient(90deg, rgba(247,59,59,1) 0%, rgba(25,34,41,1) 55%);
            border: none;
        }
    
        .container_header_title{
            width: 500px;
            color: white;
            font-size: 130px;
            line-height: 120px;
            text-transform: uppercase;
            //background: gray;
            position: absolute;
            left: 100px;
            top: 200px;
            letter-spacing:5px;
        }
    
        .container_header_numbers{
            width: auto;
            padding: 10px 0px;
            position: fixed;
            right:0px;
            top: 160px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            z-index: 20;
            .container_header_contNumbers{
                padding: 5px 8px;
                cursor: pointer;
                ////////////////////////
                .header_numbers_date_one{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_one:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_two{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
    
                }
                .header_numbers_date_two:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_tree{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_tree:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_four{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_four:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_five{
                    color:$color-text-title;
                    font-size: 30px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_five:hover{
                    transform: scale(1.5,1.5);
                    color: white;
                }   
            }
            .container_header_contLines{
                width: auto;
                height: 240px;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                align-items: center;
                .contLines_line{
                    width: 30px;
                    height: 2.5px;
                    background: white;
                }
            }
        }
    
        .container_header_sections{
            position: absolute;
            bottom: 50px;
            left: 90px;
            width: 80%;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            z-index: 10;
            .header_sections_article{
                margin: 0px 10px;
                .header_sections_article_parraf{
                    color: white;
                    line-height: 19px;
                    font-weight: 100;
                    font-style: normal;
    
                }
                .header_sections_article_vinculo{
                    margin-top: 10px;
                    width: 100px;
                    color: white;
                    font-size: 18px;
                    font-weight: 100;
                    cursor: pointer;
                    .header_iconArrow{
                        color: rgb(239, 102, 102);
                        margin-left: 10px;
                    }
                }
              
            }
        }
    
        .container_header_divGradients{
            width: 100%;
            height:300px;
            position: absolute;
            bottom: 0;
            background:linear-gradient(transparent, $color-base);
        }
    
        .arrowBottom{
            //background: grey;
            position: absolute;
            bottom: 200px;
            left: 50%;
            .arrowBottomIcon{
                color: $color-text-title;
                font-size: 40px;
                animation-name: arrowBottom;
                animation-duration: 0.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
            @keyframes arrowBottom {
                from{
                  transform: translateY(0px);
                }to{
                  transform: translateY(10px);
                }
            }
        }
    }
    
} 






@media (min-width:641px) and (max-width:769px){
    .container_header{
        width: 100%;
        padding: 10px 0px;
        height: 130vh;
        background-image:url(../image/por5.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        position: relative;
        .container_header_blockTop{
            display: none;
            .header_blockTop_logo{
                //background: brown;
                margin-left: 80px;
                .blockTop_text{
                    color: white;
                    font-size: 40px;
                    text-transform: uppercase;
                }
            }
            .header_blockTop_navbar{
                width: 500px;
                padding: 5px 0px;
                //background: brown;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                .navbar_li{
                    padding: 3px;
                    //background: rgb(218, 100, 100);
                    .navbar_link{
                        color: white;
                    }
                    .navbar_link:hover{
                      color: rgb(236, 85, 85);
                    }
                }
            }
            .header_blockTop_iconGlass{
                //background:brown;
                margin-right: 80px;
                .iconGlass{
                    color: rgb(236, 79, 79);
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    
        .container_header_line{
            width:87%;
            height: 2px;
            margin: auto;
            background: rgb(247,59,59);
            background: linear-gradient(90deg, rgba(247,59,59,1) 0%, rgba(25,34,41,1) 55%);
            border: none;
        }
    
        .container_header_title{
            width: 400px;
            color: white;
            font-size: 100px;
            line-height: 100px;
            text-transform: uppercase;
            //background: gray;
            position: absolute;
            left: 50px;
            top: 100px;
            letter-spacing:4px;
        }
    
        .container_header_numbers{
            width: auto;
            padding: 10px 0px;
            position: fixed;
            right:0px;
            top: 160px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            z-index: 20;
            .container_header_contNumbers{
                padding: 5px;
                cursor: pointer;
                ////////////////////////
                .header_numbers_date_one{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_one:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_two{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
    
                }
                .header_numbers_date_two:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_tree{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_tree:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_four{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_four:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_five{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_five:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }   
            }
            .container_header_contLines{
                width: auto;
                height: 200px;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                align-items: center;
                .contLines_line{
                    width: 20px;
                    height: 2.5px;
                    background: white;
                }
            }
        }
    
        .container_header_sections{
            position: absolute;
            bottom: 50px;
            left: 0px;
            width: 100%;
            padding: 10px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            z-index: 10;
            .header_sections_article{
                margin: 0px 10px;
                .header_sections_article_parraf{
                    color: white;
                    line-height: 19px;
                    font-weight: 100;
                    font-style: normal;
    
                }
                .header_sections_article_vinculo{
                    margin-top: 10px;
                    width: 100px;
                    color: white;
                    font-size: 18px;
                    font-weight: 100;
                    cursor: pointer;
                    .header_iconArrow{
                        color: rgb(239, 102, 102);
                        margin-left: 10px;
                    }
                }
              
            }
        }
    
        .container_header_divGradients{
            width: 100%;
            height:300px;
            position: absolute;
            bottom: 0;
            background:linear-gradient(transparent, $color-base);
        }
    
        .arrowBottom{
            position: absolute;
            bottom: 240px;
            left: 50%;
            .arrowBottomIcon{
                color: $color-text-title;
                font-size: 40px;
                animation-name: arrowBottom;
                animation-duration: 0.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
            @keyframes arrowBottom {
                from{
                  transform: translateY(0px);
                }to{
                  transform: translateY(10px);
                }
            }
        }
    }
    
} 






@media (min-width:481px) and (max-width:640px){
    .container_header{
        width: 100%;
        padding: 10px 0px;
        height: 100vh;
        background-image:url(../image/por5.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        position: relative;
        .container_header_blockTop{
            display: none;
            .header_blockTop_logo{
                //background: brown;
                margin-left: 80px;
                .blockTop_text{
                    color: white;
                    font-size: 40px;
                    text-transform: uppercase;
                }
            }
            .header_blockTop_navbar{
                width: 500px;
                padding: 5px 0px;
                //background: brown;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                .navbar_li{
                    padding: 3px;
                    //background: rgb(218, 100, 100);
                    .navbar_link{
                        color: white;
                    }
                    .navbar_link:hover{
                      color: rgb(236, 85, 85);
                    }
                }
            }
            .header_blockTop_iconGlass{
                //background:brown;
                margin-right: 80px;
                .iconGlass{
                    color: rgb(236, 79, 79);
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    
        .container_header_line{
            width:87%;
            height: 2px;
            margin: auto;
            background: rgb(247,59,59);
            background: linear-gradient(90deg, rgba(247,59,59,1) 0%, rgba(25,34,41,1) 55%);
            border: none;
        }
    
        .container_header_title{
            width: 400px;
            color: white;
            font-size: 100px;
            line-height: 100px;
            text-transform: uppercase;
            //background: gray;
            position: absolute;
            left: 50px;
            top: 100px;
            letter-spacing:4px;
        }
    
        .container_header_numbers{
            width: auto;
            padding: 10px 0px;
            position: fixed;
            right:0px;
            top: 160px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            z-index: 20;
            .container_header_contNumbers{
                padding: 5px;
                cursor: pointer;
                ////////////////////////
                .header_numbers_date_one{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_one:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_two{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
    
                }
                .header_numbers_date_two:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_tree{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_tree:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_four{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_four:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_five{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_five:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }   
            }
            .container_header_contLines{
                width: auto;
                height: 200px;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                align-items: center;
                .contLines_line{
                    width: 20px;
                    height: 2.5px;
                    background: white;
                }
            }
        }
    
        .container_header_sections{
            display: none;
        }
    
        .container_header_divGradients{
            width: 100%;
            height:300px;
            position: absolute;
            bottom: 0;
            background:linear-gradient(transparent, $color-base);
        }
    
        .arrowBottom{
            position: absolute;
            bottom: 80px;
            left: 50%;
            .arrowBottomIcon{
                color: $color-text-title;
                font-size: 40px;
                animation-name: arrowBottom;
                animation-duration: 0.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
            @keyframes arrowBottom {
                from{
                  transform: translateY(0px);
                }to{
                  transform: translateY(10px);
                }
            }
        }
    }
    
} 






@media (min-width:320px) and (max-width:480px){
    .container_header{
        width: 100%;
        padding: 10px 0px;
        height: 100vh;
        background-image:url(../image/por5.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        position: relative;
        .container_header_blockTop{
            display: none;
            .header_blockTop_logo{
                //background: brown;
                margin-left: 80px;
                .blockTop_text{
                    color: white;
                    font-size: 40px;
                    text-transform: uppercase;
                }
            }
            .header_blockTop_navbar{
                width: 500px;
                padding: 5px 0px;
                //background: brown;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                .navbar_li{
                    padding: 3px;
                    //background: rgb(218, 100, 100);
                    .navbar_link{
                        color: white;
                    }
                    .navbar_link:hover{
                      color: rgb(236, 85, 85);
                    }
                }
            }
            .header_blockTop_iconGlass{
                //background:brown;
                margin-right: 80px;
                .iconGlass{
                    color: rgb(236, 79, 79);
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    
        .container_header_line{
            width:87%;
            height: 2px;
            margin: auto;
            background: rgb(247,59,59);
            background: linear-gradient(90deg, rgba(247,59,59,1) 0%, rgba(25,34,41,1) 55%);
            border: none;
        }
    
        .container_header_title{
            width: 300px;
            color: white;
            font-size: 100px;
            line-height: 90px;
            text-transform: uppercase;
            //background: gray;
            position: absolute;
            left: 20px;
            top: 100px;
            letter-spacing:1px;
        }
    
        .container_header_numbers{
            display: none;
            .container_header_contNumbers{
                padding: 5px;
                cursor: pointer;
                ////////////////////////
                .header_numbers_date_one{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_one:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_two{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
    
                }
                .header_numbers_date_two:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }        
    
                /////////////////////////
                .header_numbers_date_tree{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_tree:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_four{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_four:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }   
                
                /////////////////////////
                .header_numbers_date_five{
                    color:$color-text-title;
                    font-size: 25px;
                    transition: 0.1s ease-in all;
                }
                .header_numbers_date_five:hover{
                    transform: scale(1.3,1.3);
                    color: white;
                }   
            }
            .container_header_contLines{
                width: auto;
                height: 200px;
                padding: 10px 0px;
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                align-items: center;
                .contLines_line{
                    width: 20px;
                    height: 2.5px;
                    background: white;
                }
            }
        }
    
        .container_header_sections{
            display: none;
        }
    
        .container_header_divGradients{
            width: 100%;
            height:300px;
            position: absolute;
            bottom: 0;
            background:linear-gradient(transparent, $color-base);
        }
    
        .arrowBottom{
            position: absolute;
            bottom: 80px;
            left: 50%;
            .arrowBottomIcon{
                color: $color-text-title;
                font-size: 40px;
                animation-name: arrowBottom;
                animation-duration: 0.5s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
            @keyframes arrowBottom {
                from{
                  transform: translateY(0px);
                }to{
                  transform: translateY(10px);
                }
            }
        }
    }
    
} 