*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior:smooth;
}
a{
    text-decoration: none;
}



body{
    scroll-behavior:unset;
    font-family: 'Oswald', sans-serif;
    background: black;
    
}

body::-webkit-scrollbar{
    width: 15px;
    
}
body::-webkit-scrollbar-thumb{
    background: rgb(212, 40, 40);
    border-radius: 20px;
    height: 100px;
}
body::-webkit-scrollbar-thumb:hover{
    background: rgb(226, 49, 49);
    height: 150px;
    
}



@import "variables";
@import "gridBase";
@import "header";
@import "header_movil";
@import "boxA";
@import "sectionA";
@import "sectionC";
@import "boxB";
@import "sectionB";
@import "footer";
@import "socialMedia";
@import "btnTop";
@import "copyright";


//CONTACT
@import "../sass/contact/contact";